snippet for
for ${1:i} in range(${2:0}, ${3:10}):
  ${1:${VISUAL}}
endsnippet

snippet if
if ${1:i}:
  ${2:${VISUAL}}
endsnippet

snippet print
print("${1}")
endsnippet

snippet printf
print("$1: \{\}".format(${1:${VISUAL}}))
endsnippet

snippet format "" i
format(${1})
endsnippet

snippet fold
#{ ${1}

${2:${VISUAL}}

#} end of $1
endsnippet
