snippet dbg
launch-prefix="gdb -ex run --args"
endsnippet

snippet profile
launch-prefix="valgrind --tool=callgrind"
endsnippet

snippet "fold" "" r
<!-- ${1} //{ -->

${2:${VISUAL}}

<!-- //} -->
endsnippet
