snippet table1x1 "table1x1" A
| ${0} |
endsnippet

snippet table1x2 "table1x2" A
| ${0} | |
endsnippet

snippet table1x3 "table1x3" A
| ${0} | | |
endsnippet

snippet table1x4 "table1x4" A
| ${0} | | | |
endsnippet

snippet table1x5 "table1x5" A
| ${0} | | | | |
endsnippet

snippet table1x6 "table1x6" A
| ${0} | | | | | |
endsnippet

snippet table1x7 "table1x7" A
| ${0} | | | | | | |
endsnippet

snippet table1x8 "table1x8" A
| ${0} | | | | | | | |
endsnippet

snippet table1x9 "table1x9" A
| ${0} | | | | | | | | |
endsnippet

snippet table2x1 "table2x1" A
| ${0} |
| |
endsnippet

snippet table2x2 "table2x2" A
| ${0} | |
| | |
endsnippet

snippet table2x3 "table2x3" A
| ${0} | | |
| | | |
endsnippet

snippet table2x4 "table2x4" A
| ${0} | | | |
| | | | |
endsnippet

snippet table2x5 "table2x5" A
| ${0} | | | | |
| | | | | |
endsnippet

snippet table2x6 "table2x6" A
| ${0} | | | | | |
| | | | | | |
endsnippet

snippet table2x7 "table2x7" A
| ${0} | | | | | | |
| | | | | | | |
endsnippet

snippet table2x8 "table2x8" A
| ${0} | | | | | | | |
| | | | | | | | |
endsnippet

snippet table2x9 "table2x9" A
| ${0} | | | | | | | | |
| | | | | | | | | |
endsnippet

snippet table3x1 "table3x1" A
| ${0} |
| |
| |
endsnippet

snippet table3x2 "table3x2" A
| ${0} | |
| | |
| | |
endsnippet

snippet table3x3 "table3x3" A
| ${0} | | |
| | | |
| | | |
endsnippet

snippet table3x4 "table3x4" A
| ${0} | | | |
| | | | |
| | | | |
endsnippet

snippet table3x5 "table3x5" A
| ${0} | | | | |
| | | | | |
| | | | | |
endsnippet

snippet table3x6 "table3x6" A
| ${0} | | | | | |
| | | | | | |
| | | | | | |
endsnippet

snippet table3x7 "table3x7" A
| ${0} | | | | | | |
| | | | | | | |
| | | | | | | |
endsnippet

snippet table3x8 "table3x8" A
| ${0} | | | | | | | |
| | | | | | | | |
| | | | | | | | |
endsnippet

snippet table3x9 "table3x9" A
| ${0} | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
endsnippet

snippet table4x1 "table4x1" A
| ${0} |
| |
| |
| |
endsnippet

snippet table4x2 "table4x2" A
| ${0} | |
| | |
| | |
| | |
endsnippet

snippet table4x3 "table4x3" A
| ${0} | | |
| | | |
| | | |
| | | |
endsnippet

snippet table4x4 "table4x4" A
| ${0} | | | |
| | | | |
| | | | |
| | | | |
endsnippet

snippet table4x5 "table4x5" A
| ${0} | | | | |
| | | | | |
| | | | | |
| | | | | |
endsnippet

snippet table4x6 "table4x6" A
| ${0} | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
endsnippet

snippet table4x7 "table4x7" A
| ${0} | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
endsnippet

snippet table4x8 "table4x8" A
| ${0} | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
endsnippet

snippet table4x9 "table4x9" A
| ${0} | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
endsnippet

snippet table5x1 "table5x1" A
| ${0} |
| |
| |
| |
| |
endsnippet

snippet table5x2 "table5x2" A
| ${0} | |
| | |
| | |
| | |
| | |
endsnippet

snippet table5x3 "table5x3" A
| ${0} | | |
| | | |
| | | |
| | | |
| | | |
endsnippet

snippet table5x4 "table5x4" A
| ${0} | | | |
| | | | |
| | | | |
| | | | |
| | | | |
endsnippet

snippet table5x5 "table5x5" A
| ${0} | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
endsnippet

snippet table5x6 "table5x6" A
| ${0} | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
endsnippet

snippet table5x7 "table5x7" A
| ${0} | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
endsnippet

snippet table5x8 "table5x8" A
| ${0} | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
endsnippet

snippet table5x9 "table5x9" A
| ${0} | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
endsnippet

snippet table6x1 "table6x1" A
| ${0} |
| |
| |
| |
| |
| |
endsnippet

snippet table6x2 "table6x2" A
| ${0} | |
| | |
| | |
| | |
| | |
| | |
endsnippet

snippet table6x3 "table6x3" A
| ${0} | | |
| | | |
| | | |
| | | |
| | | |
| | | |
endsnippet

snippet table6x4 "table6x4" A
| ${0} | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
endsnippet

snippet table6x5 "table6x5" A
| ${0} | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
endsnippet

snippet table6x6 "table6x6" A
| ${0} | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
endsnippet

snippet table6x7 "table6x7" A
| ${0} | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
endsnippet

snippet table6x8 "table6x8" A
| ${0} | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
endsnippet

snippet table6x9 "table6x9" A
| ${0} | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
endsnippet

snippet table7x1 "table7x1" A
| ${0} |
| |
| |
| |
| |
| |
| |
endsnippet

snippet table7x2 "table7x2" A
| ${0} | |
| | |
| | |
| | |
| | |
| | |
| | |
endsnippet

snippet table7x3 "table7x3" A
| ${0} | | |
| | | |
| | | |
| | | |
| | | |
| | | |
| | | |
endsnippet

snippet table7x4 "table7x4" A
| ${0} | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
endsnippet

snippet table7x5 "table7x5" A
| ${0} | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
endsnippet

snippet table7x6 "table7x6" A
| ${0} | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
endsnippet

snippet table7x7 "table7x7" A
| ${0} | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
endsnippet

snippet table7x8 "table7x8" A
| ${0} | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
endsnippet

snippet table7x9 "table7x9" A
| ${0} | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
endsnippet

snippet table8x1 "table8x1" A
| ${0} |
| |
| |
| |
| |
| |
| |
| |
endsnippet

snippet table8x2 "table8x2" A
| ${0} | |
| | |
| | |
| | |
| | |
| | |
| | |
| | |
endsnippet

snippet table8x3 "table8x3" A
| ${0} | | |
| | | |
| | | |
| | | |
| | | |
| | | |
| | | |
| | | |
endsnippet

snippet table8x4 "table8x4" A
| ${0} | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
endsnippet

snippet table8x5 "table8x5" A
| ${0} | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
endsnippet

snippet table8x6 "table8x6" A
| ${0} | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
endsnippet

snippet table8x7 "table8x7" A
| ${0} | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
endsnippet

snippet table8x8 "table8x8" A
| ${0} | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
endsnippet

snippet table8x9 "table8x9" A
| ${0} | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
endsnippet

snippet table9x1 "table9x1" A
| ${0} |
| |
| |
| |
| |
| |
| |
| |
| |
endsnippet

snippet table9x2 "table9x2" A
| ${0} | |
| | |
| | |
| | |
| | |
| | |
| | |
| | |
| | |
endsnippet

snippet table9x3 "table9x3" A
| ${0} | | |
| | | |
| | | |
| | | |
| | | |
| | | |
| | | |
| | | |
| | | |
endsnippet

snippet table9x4 "table9x4" A
| ${0} | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
| | | | |
endsnippet

snippet table9x5 "table9x5" A
| ${0} | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
| | | | | |
endsnippet

snippet table9x6 "table9x6" A
| ${0} | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
| | | | | | |
endsnippet

snippet table9x7 "table9x7" A
| ${0} | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
| | | | | | | |
endsnippet

snippet table9x8 "table9x8" A
| ${0} | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
| | | | | | | | |
endsnippet

snippet table9x9 "table9x9" A
| ${0} | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
| | | | | | | | | |
endsnippet

snippet list1 "list1" A
* ${0}
endsnippet

snippet list2 "list2" A
* ${1}
* ${0}
endsnippet

snippet list3 "list3" A
* ${1}
* ${2}
* ${0}
endsnippet

snippet list4 "list4" A
* ${1}
* ${2}
* ${3}
* ${0}
endsnippet

snippet list5 "list5" A
* ${1}
* ${2}
* ${3}
* ${4}
* ${0}
endsnippet

snippet list6 "list6" A
* ${1}
* ${2}
* ${3}
* ${4}
* ${5}
* ${0}
endsnippet

snippet list7 "list7" A
* ${1}
* ${2}
* ${3}
* ${4}
* ${5}
* ${6}
* ${0}
endsnippet

snippet list8 "list8" A
* ${1}
* ${2}
* ${3}
* ${4}
* ${5}
* ${6}
* ${7}
* ${0}
endsnippet

snippet list9 "list9" A
* ${1}
* ${2}
* ${3}
* ${4}
* ${5}
* ${6}
* ${7}
* ${8}
* ${0}
endsnippet

snippet check1 "checklist1" A
* [ ] ${0}
endsnippet

snippet check2 "checklist2" A
* [ ] ${1}
* [ ] ${0}
endsnippet

snippet check3 "checklist3" A
* [ ] ${1}
* [ ] ${2}
* [ ] ${0}
endsnippet

snippet check4 "checklist4" A
* [ ] ${1}
* [ ] ${2}
* [ ] ${3}
* [ ] ${0}
endsnippet

snippet check5 "checklist5" A
* [ ] ${1}
* [ ] ${2}
* [ ] ${3}
* [ ] ${4}
* [ ] ${0}
endsnippet

snippet check6 "checklist6" A
* [ ] ${1}
* [ ] ${2}
* [ ] ${3}
* [ ] ${4}
* [ ] ${5}
* [ ] ${0}
endsnippet

snippet check7 "checklist7" A
* [ ] ${1}
* [ ] ${2}
* [ ] ${3}
* [ ] ${4}
* [ ] ${5}
* [ ] ${6}
* [ ] ${0}
endsnippet

snippet check8 "checklist8" A
* [ ] ${1}
* [ ] ${2}
* [ ] ${3}
* [ ] ${4}
* [ ] ${5}
* [ ] ${6}
* [ ] ${7}
* [ ] ${0}
endsnippet

snippet check9 "checklist9" A
* [ ] ${1}
* [ ] ${2}
* [ ] ${3}
* [ ] ${4}
* [ ] ${5}
* [ ] ${6}
* [ ] ${7}
* [ ] ${8}
* [ ] ${0}
endsnippet

