snippet table
  |---|---|
  | ${0} | |
  |---|---|
endsnippet

snippet list1
  * ${0}
endsnippet

snippet list2
  * ${1}
  * ${0}
endsnippet

snippet list3
  * ${1}
  * ${2}
  * ${0}
endsnippet

snippet check1
  * [ ] ${0}
endsnippet

snippet check2
  * [ ] ${1}
  * [ ] ${0}
endsnippet

snippet check3
  * [ ] ${1}
  * [ ] ${2}
  * [ ] ${0}
endsnippet

snippet check4
  * [ ] ${1}
  * [ ] ${2}
  * [ ] ${3}
  * [ ] ${0}
endsnippet
