[submodule "submodules/tmux"]
	path = submodules/tmux
	url = https://github.com/klaxalk/tmux.git
  branch = master
[submodule "submodules/tmux-resurrect"]
	path = submodules/tmux-resurrect
	url = https://github.com/klaxalk/tmux-resurrect.git
  branch = master
[submodule "submodules/tmuxinator"]
	path = submodules/tmuxinator
	url = https://github.com/klaxalk/tmuxinator.git
  branch = master
[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/klaxalk/Vundle.vim.git
  branch = master
