*.swp
*.orig

appconfig/vim/dotvim/plugged/*
appconfig/vim/dotvim/session
appconfig/vim/dotvim/.netrwhist
appconfig/i3/doti3/env_variables.txt
appconfig/i3/doti3/config
appconfig/bash/dotbashrc
appconfig/zsh/dotbashrc
