[submodule "submodules/tmuxinator"]
	path = submodules/tmuxinator
	url = git@github.com:klaxalk/tmuxinator.git
[submodule "submodules/tmux-resurrect"]
	path = submodules/tmux-resurrect
	url = git@github.com:klaxalk/tmux-resurrect.git
[submodule "submodules/tmux"]
	path = submodules/tmux
	url = git@github.com:klaxalk/tmux.git
