[submodule "submodules/tmux"]
	path = submodules/tmux
	url = https://github.com/klaxalk/tmux.git
[submodule "submodules/tmux-resurrect"]
	path = submodules/tmux-resurrect
	url = https://github.com/klaxalk/tmux-resurrect.git
[submodule "submodules/tmuxinator"]
	path = submodules/tmuxinator
	url = https://github.com/klaxalk/tmuxinator.git
[submodule "submodules/vim-gitgutter"]
	path = submodules/vim-gitgutter
	url = https://github.com/klaxalk/vim-gitgutter.git
[submodule "submodules/Vundle.vim"]
	path = submodules/Vundle.vim
	url = https://github.com/klaxalk/Vundle.vim.git
