// EPIGEN_ADD_BLOCK_COLORSCHEME_DARK {
// @theme "Arc-Dark" // EPIGEN_DEL_LINE_PETR
// EPIGEN_ADD_BLOCK_COLORSCHEME_DARK }

// // EPIGEN_ADD_BLOCK_PETR EPIGEN_ADD_BLOCK_MATOUS {
// configuration {
//   modes: [combi];
//   combi-modes: [drun, run];
//   drun {
//     display-name: "<span weight='light' size='small'>-</span>";
//   }
//   run {
//     display-name: "<span weight='light' size='small'>-</span>";
//   }
// }
// // EPIGEN_ADD_BLOCK_COLORSCHEME_DARK {
// // @theme "~/git/linux-setup/appconfig/i3/rofi/petr-dark.rasi"
// // EPIGEN_ADD_BLOCK_COLORSCHEME_DARK }
// // EPIGEN_ADD_BLOCK_COLORSCHEME_LIGHT {
// // @theme "~/git/linux-setup/appconfig/i3/rofi/petr-light.rasi"
// // EPIGEN_ADD_BLOCK_COLORSCHEME_LIGHT }
// // EPIGEN_ADD_BLOCK_COLORSCHEME_GRUN {
// // @theme "~/git/linux-setup/appconfig/i3/rofi/matous-grun.rasi"
// // EPIGEN_ADD_BLOCK_COLORSCHEME_GRUN }
// // EPIGEN_ADD_BLOCK_PETR EPIGEN_ADD_BLOCK_MATOUS }
