snippet table
	  |---|---|
	  | ${0} | |
	  |---|---|

snippet list1
	  * ${0}

snippet list2
	  * ${1}
	  * ${0}

snippet list3
	  * ${1}
	  * ${2}
	  * ${0}

snippet check1
	  * [ ] ${0}

snippet check2
	  * [ ] ${1}
	  * [ ] ${0}

snippet check3
	  * [ ] ${1}
	  * [ ] ${2}
	  * [ ] ${0}

snippet check4
	  * [ ] ${1}
	  * [ ] ${2}
	  * [ ] ${3}
	  * [ ] ${0}
