snippet i "<i>" i
<i>${1:${VISUAL}}</i>
endsnippet

snippet br "<br>" i
<br/>
endsnippet

snippet b "<b>" i
<b>${1:${VISUAL}}</b>
endsnippet

snippet p "<p>" i
<p>
	${1:${VISUAL}}
</p>
endsnippet

snippet a "<a>" i
<a href="${1:${VISUAL}}">${1:${VISUAL}}</a>
endsnippet

snippet span "<span>" i
<span style="${1}">${2:${VISUAL}}</span>
endsnippet
