snippet rinfo
rospy.loginfo('${1}'${2})
endsnippet

snippet rerr
rospy.logerr('${1}'${2})
endsnippet

snippet rwarn
rospy.logwarn('${1}'${2})
endsnippet

snippet rinfot
rospy.loginfo_throttle(${1:1}, '${2}'${3})
endsnippet
